---
import { getCollection, render } from "astro:content";
import Layout from "../../components/Layout.astro";
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}
import { tags, type TagItem } from "../../consts";
import Tag from "../../components/Tag.astro";
const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout
  view="home"
  title={project.data.title}
  heroImage={project.data.image}
  heroDescription={project.data.description}
>
  <div class="mt-8">
    <h1>{project.data.title}</h1>
    <Content />
    <p>
      {
        project.data.tags.map((tag) => (
          <Tag key={tag}>{tags[tag as TagItem]}</Tag>
        ))
      }
    </p>
  </div>
</Layout>
